.App {
  text-align: center;
  background-color: #282c34; /* Set your desired background color here */
  min-height: 100vh; /* Ensure the App takes up the full height of the viewport */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: none;

}

.App-link {
  color: #61dafb;
}

.bio {
  display: flex;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 20px;
}
.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
  padding-top: 20px;
}
